name: Build Python Wheelhouse

on:
  workflow_dispatch:

jobs:
  build-wheels:
    runs-on: windows-latest

    strategy:
      matrix:
        python-version: [3.13.7]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Upgrade pip and wheel
        run: |
          python -m pip install --upgrade pip wheel

      - name: Create wheelhouse directory
        run: mkdir wheelhouse

      - name: Install requirements as wheels
        run: |
          pip wheel -r dependancies.txt --wheel-dir=wheelhouse
          
      - name: Upload wheelhouse
        uses: actions/upload-artifact@v4
        with:
          name: wheelhouse
          path: wheelhouse
